
<h2>Objects</h2>
<div class="example-container">
  <form #myform="ngForm" (ngSubmit)=addObject(myform)>
    <mat-form-field>
      <input matInput placeholder="Title" name="title" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" name = "description"  ngModel required>
    </mat-form-field>
    <button mat-raised-button type="submit">Add object</button>
  </form>
</div>
<p></p>
<mat-list>
  <mat-list-item *ngFor="let object of list">
    <mat-icon matListIcon color="warn" (click) = "deleteObject(object.id)">delete</mat-icon>
    <h3 matLine> {{object.title}} </h3>
    <p matLine>
      <span> {{object.description}} </span>
  </mat-list-item>
</mat-list>